{% extends 'manager/index.html.twig' %}
{% block body %}

    <div>
        <h1>CREATION D'INTERVENANT</h1>
    </div>

    {{ form_start(form) }}

    <button type="submit">Register!</button>
    {{ form_end(form) }}

{% endblock %}