{% extends 'admin/layout/layout.html.twig' %}
{% block body %}

    <div>
        <h1>CREATION DE SINISTRE</h1>
    </div>

    {{ form_start(form) }}

       <button type="submit">Register!</button>
    {{ form_end(form) }}

{% endblock %}