{% extends 'admin/layout/layout.html.twig' %}
{% block body %}

    <div>
        <h1>LISTE DES Sinistres</h1>
    </div>

    <div>
        {% for sinister in sinisters %}
            <ul>
                <li>  Description : {{ sinister.description}} </li>
                <li>  Date de déclaration : {{ sinister.entryDate|date('d/m/y') }} </li>
                <li>  Ref garantie : {{ sinister.guarantee.name }} </li>
            </ul>
        {% endfor %}
    </div>

{% endblock %}