<footer class="footer ">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                       Lien
                    </a>
                </li>
                <li>
                    <a href="#">
                        Autre lien
                    </a>
                </li>
                <li>
                    <a href="#">
                        Autre lien
                    </a>
                </li>
                <li>
                    <a href="#">
                        Autre lien
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, réalisé avec <i class="material-icons">favorite</i> par
            <a href="http://peritis.fr" target="_blank">Peritis</a> Agence Web.
        </div>
    </div>
</footer>